In [3]:
import sqlite3
import pandas as pd

In [35]:
def join_sql(df_a, df_b, query):
    
    """ Example:  
         df_a = StudyPeriod,
         df_b = Rx,
         query = "select b.* 
                     from a as a left join b as b
                     on a.ID = b.ID
                     where a.StartDT <= b.Date and b.Date <= a.EndDT 
                ")
                
    """
    
    #Make the db in memory
    conn = sqlite3.connect(':memory:')
    
    #write the tables
    df_a.to_sql('a', conn, index=False)
    df_b.to_sql('b', conn, index=False)
    
    qry = query
    
    df = pd.read_sql_query(qry, conn)
    conn.close()
    
    return df

In [6]:
Rx = pd.DataFrame({"ID":[1, 2, 3, 1, 2, 3, 1, 2, 2],
                   "Drug": ["B", "O", "T", 'O', 'A', 'G', 'T', 'B', 'G'],
                   "Date":[pd.datetime(2020, 1, 1), pd.datetime(2020, 1, 1), pd.datetime(2020, 1, 1), 
                           pd.datetime(2020, 2, 1), pd.datetime(2020, 4, 1), pd.datetime(2020, 8, 1), 
                           pd.datetime(2020, 10, 1), pd.datetime(2020, 11, 1), pd.datetime(2020, 12, 1)]})

In [11]:
    StudyPeriod = pd.DataFrame({'ID':[1,2,3], 
                                'StartDT':[pd.datetime(2020, 1, 1), pd.datetime(2020, 4, 1), pd.datetime(2020, 7, 1)],
                                'EndDT':[pd.datetime(2020, 3, 1), pd.datetime(2020, 8, 1), pd.datetime(2020, 12, 1)]})

In [10]:
Rx.sort_values(['ID', 'Date'])

   ID Drug       Date
0   1    B 2020-01-01
3   1    O 2020-02-01
6   1    T 2020-10-01
1   2    O 2020-01-01
4   2    A 2020-04-01
7   2    B 2020-11-01
8   2    G 2020-12-01
2   3    T 2020-01-01
5   3    G 2020-08-01

In [27]:
StudyPeriod

   ID    StartDT      EndDT
0   1 2020-01-01 2020-03-01
1   2 2020-04-01 2020-08-01
2   3 2020-07-01 2020-12-01

In [32]:
join_sql(df_a = StudyPeriod,
         df_b = Rx,
         query = """select b.* 
                     from a as a left join b as b
                     on a.ID = b.ID
                     where a.StartDT <= b.Date and b.Date <= a.EndDT 
                """)

   ID Drug                 Date
0   1    B  2020-01-01 00:00:00
1   1    O  2020-02-01 00:00:00
2   2    A  2020-04-01 00:00:00
3   3    G  2020-08-01 00:00:00